<header>
  <div class="wrap nav">
    <a class="brand" data-link="index.html" href="#">
      <img src="https://dummyimage.com/80x80/0284c7/ffffff&text=CED" alt="CED logo">
      <div>
        <span class="title">CED Lab</span>
        <small class="sub">Concurrent Engineering Design Lab, NKUST</small>
      </div>
    </a>
    <input type="checkbox" id="navcheck">
    <label for="navcheck" class="hamburger">☰</label>
    <nav class="menu">
      <a data-link="pi.html" href="#">指導教授</a>
      <a data-link="areas.html" href="#">研究領域</a>
      <a data-link="pubs.html" href="#">期刊論文</a>
      <a data-link="members.html" href="#">研究成員</a>
      <a data-link="news.html" href="#">最新消息</a>
      <a data-link="location.html" href="#">實驗室位置</a>
      <a class="btn" data-link="contact.html" href="#">聯絡我們</a>
    </nav>
  </div>
</header>
